
torch
--index-url https://download.pytorch.org/whl/cu124
torchvision
--index-url https://download.pytorch.org/whl/cu124
torchaudio
--index-url https://download.pytorch.org/whl/cu124

git+https://github.com/IDEA-Research/GroundingDINO.git
huggingface_hub


ipywidgets
tqdm
Pillow
gradio
flask
python-dotenv
uvicorn
fastapi
yappa
paramiko
transformers
accelerate
diffusers
opencv-python
matplotlib
kornia